*, html, body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

a { 
  text-decoration: none; }

li { 
  list-style-type: none;
  display: inline-block;
  color:#FFF;  }

.container {
  max-width: 80%;
  margin: 0 auto; }

.btn-main {
  text-decoration: none;
  color: #FFF;
  padding: 15px 30px;
  background: navy;
  -webkit-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s; }
  .btn-main:hover {
    color:navy;
    background: #FFF;
    transition: .5s;
  }

  /* Shutter Out Horizontal */
.shutter-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-fill-mode: backwards; }
  .shutter-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .shutter-out:hover, .shutter-out:focus, .shutter-out:active {
      color: navy; }
      .shutter-out:hover:before, .shutter-out:focus:before, .shutter-out:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

.jumbotron {
  height: 100vh;
  width: 100%;
  background: url("../assets/bluein.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  color: #FFF;
  position: relative;
  text-align: center; }
  .jumboContainer {
    height: 100%;
  }
  .jumbotron h1 {
    padding-top: 80px;
    font-size: 80px;
    margin-bottom: 70px; }
    .jumboContainer h3 {
      letter-spacing: 8px;
      font-weight: 500;
      margin-bottom: 70px; }

.nav {
  background: #000;
  margin: 0;
  padding: 0; }
  .nav .container {
    text-align: center; }
    .nav li {
      padding: 30px 10px; }
    .nav li:hover {
      background: navy;
      transition: .3s; }

.info .container {
  padding: 40px 0;
  max-width: 100%;
  text-align: center; }
  .info .col1 {
    padding: 0 50px 0 0;
    display: inline-block; }
    .info .col1 img {
      height: 170px; }
  .info .col2 { 
    width: 50%;
    display: inline-block; }
  .info h2 {
    text-align: center;
    margin-bottom: 30px; }
    .info p {
      text-align: justify;
      text-transform: none;
      font-weight: 300; }

.connect {
  height: 80vh;
  background: url("../assets/bluecon.jpg") no-repeat center center;
  background-size: cover;
  position: relative; }
  .connectContent {
    height: 100%;
    padding: 40px 0; }


.footer {
  height: 80px;
  background: #000;
  color: #FFF;
  font-size: 11px;
  position: relative; }
  .footer .copyright {
    width: 20%;
    padding: 30px 0 20px 30px; }
  .footer .creator {
    position: absolute;
    top: 30px;
    right: 20px; }

/* Laptop */
@media screen and (min-width: 700px) {
  .jumbotron h1 {
    font-size: 120px; }
}

@media screen and (orientation: landscape) {
  .jumboContainer h1 {
    font-size: 80px;
  }
}

/* Mobile Device */
@media screen and (max-width: 600px) {
  .container {
    max-width: 90%; }
  .nav .container {
    max-width: 100%; }
  .nav li {
    width: 90%; }
  .info .col1 {
    width: 100%;
    padding: 20px 0 40px 0; }
  .info .col2 {
    width: 75%; }
}

@media screen and (max-width: 330px) {
  .jumboContainer h1 {
    font-size: 70px;
  }
}